<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.flowsense.flowsense_flutter_plugin">

    <application>
    </application>

    <!-- <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->

<!--    <permission-->
<!--        android:name="${applicationId}.permission.C2D_MESSAGE"-->
<!--        android:protectionLevel="signature" />-->

<!--    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />-->

    <!-- <application> -->
<!--        <uses-library-->
<!--            android:name="org.apache.http.legacy"-->
<!--            android:required="false" />-->

<!--        <activity android:name="com.flowsense.flowsensesdk.PushNotification.IntermediateActivity" >-->

<!--        </activity>-->

<!--        <service android:name="com.flowsense.flowsensesdk.LocationService.GetInstantLocation" />-->

<!--        <receiver android:name="com.flowsense.flowsensesdk.Receivers.AppUpgradeReceiver"-->
<!--                android:enabled="true" android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        -->
<!--        <receiver android:name="com.flowsense.flowsensesdk.Receivers.BootCompletedReceiver"-->
<!--            android:enabled="true" android:exported="true" >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        <receiver android:name="com.flowsense.flowsensesdk.Receivers.ConnectedToWifiReceiver"-->
<!--            android:enabled="true" >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        <receiver android:name="com.flowsense.flowsensesdk.Receivers.NotificationDismissed"-->
<!--            android:exported="false">-->

<!--        </receiver>-->

<!--        <service android:name="com.flowsense.flowsensesdk.DailyJobs.AliveIntent"-->
<!--            android:exported="false"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE">-->

<!--        </service>-->

<!--        <service android:name="com.flowsense.flowsensesdk.DailyJobs.AliveAlarmIntent"-->
<!--            android:exported="false">-->

<!--        </service>-->

<!--        <service android:name="com.flowsense.flowsensesdk.DailyJobs.AliveScheduler"-->
<!--            android:exported="false"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE">-->

<!--        </service>-->

<!--        <service android:name="com.flowsense.flowsensesdk.LocationService.JobIntent"-->
<!--            android:exported="false"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE">-->

<!--        </service>-->

<!--        <service android:name="com.flowsense.flowsensesdk.LocationService.GetGeofencesJobIntent"-->
<!--            android:exported="false"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE">-->

<!--        </service>-->

<!--        <service-->
<!--            android:name="com.flowsense.flowsensesdk.LocationService.LocationIntent"-->
<!--            android:exported="false">-->
<!--        </service>-->

<!--        <service-->
<!--            android:name="com.flowsense.flowsensesdk.LocationService.JobSchedulerService"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE"-->
<!--            android:exported="false">-->
<!--        </service>-->

<!--        <service -->
<!--            android:name="com.flowsense.flowsensesdk.LocationService.GeofenceIntent"-->
<!--            android:exported="false">-->
<!--        </service>-->

<!--        <receiver-->
<!--            android:name="com.flowsense.flowsensesdk.LocationService.GeofenceBroadcastReceiver"-->
<!--            android:exported="false"-->
<!--            android:enabled="true">-->
<!--            &lt;!&ndash; <intent-filter>-->
<!--                <action android:name="com.flowsense.flowsensesdk.ACTION_RECEIVE_GEOFENCE" />-->
<!--            </intent-filter> &ndash;&gt;-->
<!--        </receiver>-->

<!--        <service-->
<!--            android:name="com.flowsense.flowsensesdk.LocationService.CheckInScheduler"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE"-->
<!--            android:exported="false">-->
<!--        </service>-->

<!--        <service android:name="com.flowsense.flowsensesdk.LocationService.CheckInJobIntent"-->
<!--                 android:exported="false"-->
<!--                 android:permission="android.permission.BIND_JOB_SERVICE">-->
<!--        </service>-->

<!--        <service-->
<!--            android:name="com.flowsense.flowsensesdk.LocationService.CheckInAlarmIntent"-->
<!--            android:exported="false">-->
<!--        </service>-->

<!--        <receiver android:name="com.flowsense.flowsensesdk.PushNotification.CarrousselClick" />-->

<!--        &lt;!&ndash; Firebase &ndash;&gt;-->
<!--        <service-->
<!--            android:name="com.flowsense.flowsensesdk.PushNotification.FCM.FSFirebaseService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->

<!--        <service-->
<!--            android:name="com.flowsense.flowsensesdk.PushNotification.FCM.FSFirebaseInstanceIDService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->

<!--        &lt;!&ndash;<meta-data&ndash;&gt;-->
<!--            &lt;!&ndash;android:name="com.google.firebase.messaging.default_notification_icon"&ndash;&gt;-->
<!--            &lt;!&ndash;android:resource="@drawable/ic_stat_ic_notification" />&ndash;&gt;-->

<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_channel_id"-->
<!--            android:value="@string/default_notification_channel_id"/>-->

<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_color"-->
<!--            android:resource="@color/colorAccent" />-->

    <!-- </application> -->

</manifest>